<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <title>Carte supprimée !</title>
</head>
<body>
<h1>Cool !</h1>
La carte <%= id_carte %> a été supprimée pour l'utilisateur : <strong><%= utilisateur %></strong>

<p><a href="/<%= utilisateur %>/liste.html">Go Back to Question List</a></p>
</body>
</html>