<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <title>Carte modifiée !</title>
</head>
<body>
<h1>Cool !</h1>
La carte <%= id_carte %> a été modifiée pour l'utilisateur : <strong><%= utilisateur %></strong>

<p>
    <a href="/<%= utilisateur %>/liste.html">Retour à la liste</a>
</p>
</body>
</html>